$o-buttons-is-silent: false;
@import "o-buttons/main";
$o-colors-is-silent: false;
@import "o-colors/main";
$o-forms-is-silent: false;
@import "o-forms/main";
$o-icons-is-silent: false;
@import "o-icons/main";
$o-typography-is-silent: false;
@import "o-typography/main";

$teal: oColorsGetPaletteColor('teal');
$white: oColorsGetPaletteColor('white');
.n-app-banner {
	@include oTypographySans($scale: 1);

	background: $teal;
	bottom: 0;
	color: oColorsGetTextColor($teal);
	left: 0;
	padding: 40px 0;
	position: fixed;
	transition: bottom 1s ease;
	width: 100%;
	z-index: 99;

	&.is-dismissed {
		bottom: -150px;
	}

	.o-forms__message {
		color: oColorsGetPaletteColor('crimson');
		right: 0;
		position: absolute;
		top: 50px;

		p {
			@include oTypographySans($scale: -1);
		}
	}
}

.n-app-banner__container {
	align-items: center;
	display: flex;
	flex-direction: row;
	height: 40px;
}

.n-app-banner__device {
	float: left;
	margin-top: -20px;
	margin-bottom: -195px;
}

.n-app-banner__strapline {
	flex: 1;

	.enhanced & {
		margin-left: 20px;
	}
}

.n-app-banner__links {
	line-height: 0;

	.has-sent & {
		display: none;
	}
}
.n-app-banner__app-link {
	display: inline-block;
	margin-left: 20px;
}

.n-app-banner__form {
  align-items: center;
	display: flex;
	margin-bottom: 0;
}

.n-app-banner__button {
	margin-left: 20px;

	.has-sent & {
		display: none;
	}
}

.n-app-banner__success {
	@include oTypographySans($scale: -1);
	display: none;
	padding-left: 25px;
	position: relative;

	&:before {
		@include oIconsGetIcon('tick', $white, 25);
		display: inline-block;
		content: '';
		left: 0;
		position: absolute;
		top: -5px;
	}

	.has-sent & {
		display: block;
	}
}

.n-app-banner__close {
	@include oIconsGetIcon('cross', $white, 25);
	display: none;
	cursor: pointer;
	position: absolute;
	right: 0;
	top: -20px;

	.enhanced & {
		display: block;
	}
}
